@import "assets/sass/variables.scss";

.our_services {
  margin-bottom: 8rem;
  img {
    max-width: 100%;
  }
  :global(.main_title) {
    @media screen and (max-width: 991px) {
      margin-top: 2rem;
    }
  }
  ul {
    list-style-type: none;
    margin-top: 1rem;
    padding-left: 0;
    li {
      color: $main-title;
      // font-size: 20px;
      font-size: calc(18px + 0.1vw);
      // line-height: 34px;
      line-height: calc(28.5px + 0.3vw);
      margin-bottom: 0.75rem;
      font-weight: 500;
    }
  }
}
