@import "assets/sass/variables.scss";
.hero_section {
  position: absolute;
  z-index: 3;
  top: 50%;
  width: 80%;
  margin-left: 10%;
  text-align: center;

  h1 {
    font-size: calc(16px + 2.2vw);
    color: $secondary-color;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .hero_slogan {
    // font-size: 40px;
    font-size: calc(17px + 1.2vw);
    font-weight: 200;
    color: #fff;
    // font-style: italic;
  }
}
