@import "assets/sass/variables.scss";
.bg-body-tertiary {
  position: absolute;
  width: 100%;
  z-index: 100;
  border-radius: 5px;
  max-width: 800px;
  margin: auto;
  margin-top: 70px;
  padding: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-bottom: 5px solid $theme-color;
  left: 50%;
  transform: translate(-50%);
  .navbar-brand {
    img {
      width: 150px;
      margin: -40px -50px -40px 30px;
      @media screen and (max-width: 575px) {
        width: 120px;
      }
    }
  }
  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .navbar-nav {
    width: 100%;
    justify-content: center;
    .nav-link {
      font-size: 22px;
      margin: auto 10px;
      text-transform: uppercase;
    }
    @media screen and (max-width: 767px) {
      margin-top: 30px;
      text-align: center;
    }
  }
  @media screen and (max-width: 575px) {
    margin-top: 50px;
    border-radius: 0;
  }
}
