@import "assets/sass/variables.scss";

.all_services {
  margin-bottom: 3rem;
  padding-top: 3rem;
  .service_item {
    position: relative;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.35s ease-in-out;
      &:hover {
        transform: scale(1.05);
      }
    }
    h5 {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 0 0 50% 50%;
      padding: 0.5rem 15px 0.75rem;
      color: #fff;
      text-align: center;
      font-size: 16px;
    }
  }
  .content_creation {
    @media screen and (min-width: 768px) {
      margin-top: 3rem;
    }
    p {
      font-size: 16px;
      line-height: 32px;
      &.big_paragraph {
        font-size: 18px;
      }
    }
  }

  ol {
    list-style: none;
    padding-left: 0;
    li {
      margin-bottom: 0.5rem;
      font-size: 16px;
      display: flex;
      // align-items: baseline;
      span.numbering {
        font-size: 26px;
        color: $theme-color;
        transform: scale(1.2);
        font-weight: 700;
        display: inline-block;
        // background-color: $secondary-color;
        width: auto;
        height: 30px;
        text-align: right;
        line-height: 34px;
        border-radius: 5px;
        margin-right: 1rem;
      }
      strong {
        text-decoration: underline;
        margin-right: 0.25rem;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
