@import "assets/sass/variables.scss";
.our_agency {
  margin-top: 8rem;
  margin-bottom: 8rem;
  // h2 {
  //   // font-size: 36px;
  //   font-size: calc(30.25px + 0.3vw);
  //   color: $theme-color;
  //   line-height: 48px;
  //   line-height: calc(41px + 0.3vw);

  // }
  :global(.main_title) {
    @media screen and (max-width: 991px) {
      margin-top: 2rem;
    }
  }
  p {
    // font-size: 26px;
    font-size: calc(20.25px + 0.3vw);
    // line-height: 42px;
    line-height: calc(36.25px + 0.3vw);
    color: $paragraph-color;
    font-weight: 200;
    strong {
      color: $theme-color;
    }
  }
  // .ouragency_brief {
  //   display: flex;
  //   .ouragency_caption {
  //   }
  //   .ouragency_img {
  //     img {
  //     }
  //   }
  // }
  img {
    border-radius: 5px;
    max-width: 100%;
  }
}
