@import "assets/sass/variables.scss";
.our_agency {
  margin-top: 3rem;
  margin-bottom: 3rem;
  h2 {
    // font-size: 36px;
    font-size: calc(30.25px + 0.3vw);
    line-height: calc(41px + 0.3vw);
    color: $theme-color;
    line-height: 48px;
  }
  p {
    // font-size: 26px;
    font-size: calc(20.25px + 0.3vw);
    // line-height: 42px;
    line-height: calc(36.25px + 0.3vw);
    color: $paragraph-color;
    font-weight: 200;
  }
}
