$theme-color: #047c7f;
// $secondary-color: #c1f4ef;
$secondary-color: #79f3e7;
$shadow-color: #adadad;
$main-body: #323b34;

$main-title: #253428;
// $paragraph-color: #535e54;
$paragraph-color: #606b61;
